body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #FFE5DA;
  /* #f4f4f4 */
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h1,  
h2 {
  color: #565263; 
  /* #007bff; */
}
.header {
  text-align: center;
}
.header h1 {
  margin: 10px 0;
}
.contact {
  margin: 10px 0;
  font-size: 14px;
}
.contact a {
  color: #D09D90;
  text-decoration: none;
}
.section {
  margin: 20px 0;
}
.section h2 {
  margin-bottom: 10px;
  border-bottom: 2px solid #565263;
  padding-bottom: 5px;
}
.item {
  margin-bottom: 15px;
}
.item h3 {
  margin: 0;
  font-size: 18px;
  color: #555;
}
.item p {
  margin: 5px 0;
  font-size: 14px;
}
.item a { 
  color: #D09D90;
}
.skills ul {
  list-style: none;
  padding: 0;
}
.skills ul li {
  display: inline-block;
  background: #D09D90;
  color: #fff;
  padding: 5px 10px;
  margin: 5px 5px 5px 0;
  border-radius: 4px;
}
.nflogo {
   max-width: 300px;
}
.footer {text-align: center;}


/* --color-1: #000;  Black 
--color-2: #D09D90;  Dark Peach     Alts: #E0B0A3
--color-3: #121D35;  Midnight Blue  Alts: #142038
--color-4: #FFFDFE;  White
--color-5: #FEDBD2;  Light Peach    Alts: #FDDCCE */